.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.containers-perso{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
}

.containers-continent{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
}

.containers-favorite{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
}

nav{
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  gap:50px;
}

.button-tab{
  border: 1px solid gray;
  text-align: center;
  color: gray;
}

.button-tab:hover{
  border: 1px solid rgb(209, 208, 208);
}


h1{
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 50px;
}

h2{
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
